body{
background-color: #232323;
margin: 0;
font-family: "Montserrat", "Avenir";
}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	margin: 1.66%;
	float: left;
}

#container{
	margin: 0 auto;
	max-width: 600px;	
}

h1 {
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	color: white;
	background-color: steelblue;
	margin:0;
	line-height: 1.1;
	padding: 20px 0;
}

#mensaje{
	color: black;
}

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected{
	background-color: blue;
}

#ColorDisplay{
	font-size: 200%;
}